<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8 ">
    <meta name="viewport " content="width=device-width, initial-scale=1.0 ">
    <meta http-equiv="X-UA-Compatible " content="ie=edge ">
    <title>結果預覽</title>
    <link rel="stylesheet" href="/static/setting_and_import.css">
</head>

<body>
    <div class="topnav">
        <a href="{% url 'home' %}">使用說明</a>
        <a href="{% url 'settings' %}">設定檔</a>
        <a href="{% url 'imports' %}">選擇設定檔</a>
        <a href="{% url 'importFile' %}">匯入檔案</a>
        <a href="{% url 'summary' %}">結果預覽</a>
    </div>
    <div id="header">
        <h1><img src="/static/logo.png" width=10% height=10%>客林存貨預測系統</h1>
    </div>
    <div id="choice">
        <span id="block_title">預測結果預覽</span>
        <form action="" method="post">
            {% csrf_token %}
            <input name="Name" placeholder="貨號">
            <input type="submit" value="搜尋">
        </form>
        {% autoescape off %} {{ plot_div }} {% endautoescape %}
        <br>
        <a href="/static/final.csv" download><button>下載結果</button></a>
    </div>

</body>